.header {
  position: fixed;
  top: 0;
  width: 100%;
  min-height: 35px;
  max-height: 55px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: calc(0.5rem + 1.5vmin);
  font-weight: 600;
  z-index: 2;
}
a {
  text-decoration: none;
  color: #535353;
}

.user-profile {
  display: flex;
  list-style: none;
  justify-content: center;
  align-items: center;
}
.user-account {
  margin-left: 2.66rem;
}
