.signin-container {
  height: 70vh;
  position: fixed;
  width: 93%;
  top: 15%;
  left: 3%;
  z-index: 999;
  background-color: rgb(48, 48, 48);
  animation: fadeIn 1.5s;
}
.modal-btn {
  position: fixed;
  border-radius: 5%;
  top: 16%;
  right: 6%;
}
.signin-header {
  font-size: 17px;
  text-align: center;
  margin: auto;
  width: 90%;
}
.signin-modal-container {
  font-size: 18px;
  position: fixed;
  width: 95%;
  top: 37.5%;
}
.signin-btns-container {
  font-size: 14px;
  margin-top: 50px;
  width: 90%;
  margin: auto;
}
.signin-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 125px;
  height: 60px;
  font-size: 15px;
  margin: 1% 1.5%;
  font-weight: 600;
  border-radius: 5%;
  padding: 2%;
}
.register-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 125px;
  height: 60px;
  font-size: 15px;
  margin: 1% 1.5%;
  font-weight: 600;
  padding: 2%;
}

@media (min-width: 768px) {
  .signin-container {
    margin: auto;
    height: 75vh;
  }
  .signin-header {
    margin-left: 7.5%;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
