.search-houses {
  display: flex;
  justify-content: start;
  margin-right: 20px;
  align-items: center;
}

.form-outline {
  font-size: 18px;
  padding: 10px;
}

.btn-search {
  font-size: 17px;
  margin-left: 5px;
}
input::placeholder {
  padding: 5px;
}
input {
  padding: 5px;
  border-radius: 4%;
}
