.house {
  margin: auto;
  background-color: #e3e3e3;
}

.fs-fluid {
  font-size: 14px;
}
.house-bb-rooms {
  display: flex;
  justify-content: space-around;
  background: linear-gradient(to bottom, #4d4d4d, #919191, #e3e3e3);
  height: 50px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  margin-bottom: 5%;
}

.house-rooms {
  display: flex;
  font-size: 30px;
}

@media only screen and (min-width: 850px) {
  .fs-fluid {
    font-size: 20px;
  }
}

@media only screen and (min-width: 1000px) {
  .fs-fluid {
    font-size: 24px;
  }
}
@media only screen and (min-width: 1500px) {
  .fs-fluid {
    font-size: 35px;
  }
}
