.house {
  margin: auto;

  background-color: #e3e3e3;
}

.fs-fluid {
  font-size: 14px;
}
.house-bb-rooms {
  display: flex;
  justify-content: space-between;
  background-color: #535658;
}

.house-rooms {
  display: flex;
}

@media only screen and (min-width: 850px) {
  .fs-fluid {
    font-size: 20px;
  }
}

@media only screen and (min-width: 1000px) {
  .fs-fluid {
    font-size: 24px;
  }
}
@media only screen and (min-width: 1500px) {
  .fs-fluid {
    font-size: 35px;
  }
}
