.blog-header {
  padding: 5%;
}

.latest-posts-container {
  min-width: 70%;
  max-width: 90%;
  margin: auto;
}
.latest-posts {
  margin: 10px 0px;
  padding: 5%;
}

.card {
  height: 1/3vh;
  font-size: 11px;
  z-index: 2;
}
.article-link {
  z-index: 1;
  margin: 5px;
}

.date-card {
  position: relative;
  font-size: 14px;
  color: blue;
  font-weight: 600;
  padding: 35px 2px;
  bottom: 4.5rem;
  border-radius: 20px;
  left: -35%;
  height: 75px;
  width: 45px;
}
.latest-date-card {
  position: relative;
  font-size: 14px;
  color: blue;
  font-weight: 600;
  padding: 35px 2px;
  bottom: 4.5rem;
  border-radius: 20px;
  left: -30%;
  height: 75px;
  width: 45px;
}
.article-details {
  display: flex;
  justify-content: space-around;
  font-size: 18px;
}
