.house-property {
  font-size: 15px;
}
.home-desc {
  font-size: 19px;
}

.house-price {
  width: 45%;
  min-width: 45%;
  margin: auto;
  border-bottom: 2px solid black;
}

.img-descp {
  font-size: 19px;
}
@media only screen and (min-width: 850px) {
  .img-descp {
    font-size: 22px;
  }
}

@media only screen and (min-width: 1000px) {
  .img-descp {
    font-size: 24px;
  }
}

@media only screen and (min-width: 1500px) {
  .img-descp {
    font-size: 30px;
  }
}
