.form-calc-container {
  min-height: fit-content;
  margin: 10px 0px;
}

.calc-btn-container {
  display: flex;
  margin: -2.5% 0%;
}

.calc-type-btn {
  border: none;
  padding: 15px;
}

.form-calc {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border-bottom: 1.5px solid darkgrey;
  padding: 4%;
  font-size: 18px;
}
.asking-price-input {
  margin: 2.5%;
}

.calc-btn {
  padding: 4%;
  border-radius: 10%;
  font-weight: 600;
}
#askingPrice::placeholder,
.mortgage-rate::placeholder {
  color: rgb(175, 175, 175);
}
.total-mortgage-container {
  display: flex;
  align-items: center;
  font-size: 14px;
}

.mortgage-calc {
  font-size: 14px;
}
.mortgage-rate {
  max-width: 17.5%;
  margin: 0px 13px;
  text-align: center;
}

.land-tax-container {
  height: 20vh;
  font-size: 15px;
}
.mortgage-frequency {
  display: flex;
  text-align: center;
  font-size: 22px;
}
.monthly-payment {
  font-size: 19px;
}

.first-home-buyer {
  display: flex;
  justify-content: space-between;
}
