.houses-carousel {
  margin: 2.5%;
  max-width: 95%;
  max-height: 900px;
  padding: 0.5%;
  border: 1px solid lightgrey;
}

@media (min-width: 576px) {
  .houses-carousel {
    margin: auto;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
}
