.register-modal-container {
  background-color: #b4cbd4;
  height: 55vh;
}
.form-input {
  width: 75%;
  margin: auto;
}
.form-input::placeholder {
  color: #cecece;
}
.form-input:focus {
  outline: none;
}

.form-label {
  font-size: 20px;
  font-weight: 600;
  margin: 1%;
}
