.header {
  min-height: 55px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: calc(0.5rem + 2vmin);
  font-weight: 400;
}
a {
  text-decoration: none;
  color: #535353;
}

.user-profile {
  display: flex;
  list-style: none;
  justify-content: space-around;
  margin: 2px;
}
.user-account {
  margin-left: 12px;
}
